@import '../../Variables.scss';
@import '../../Mixin.scss';


.score-page-container {
    @include main-content();
    position: relative;
    width: 68.75vw;
    margin-top: 6vh;
    padding-right: 2.9rem;
      height: 60vh;
      padding-bottom: 5vh;


    .score-page-monkey {
        position: absolute;
        bottom: 0vh;
        right: -12vw;
        width: 7vw;
    }
}

@media only screen and (max-width: 600px) {

    .score-page-container {
        border: none;
        padding-right: 1rem;
        width: 100vw;
        margin-top: 0;
    }
}