@import './Variables.scss';

body {
  background-color: $body-color;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body * {
  font-family: $Rubik-regular;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  body {
    background-color: $white;
  }
}