$body-color: #E0F4F5;
$color1: #FFFFFF;
$color2: #0C3249;
$color3: #0C32490A;
$color4: #EA383899;
$color5: #378381;
$color6: #000000;
$color7: #00000029;
$color8: #0C32494D;
$color9: #2CC5A699;

body {
  margin: 0;
}
