@mixin flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin homePageButton($color, $border-bottom) {
    height: 7vh;
    width: 15vw;
    background: $color 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font-weight: 800;
    border-bottom: 5px solid $border-bottom;
    opacity: 1;
}

