//fonts
$Rubik-regular: 'Rubik-Regular';
$Rubik-extra-bold-800: 'Rubik-ExtraBold';
$Rubik-bold: 'Rubik-Bold';
$Rubik-semi-bold-600: 'Rubik-SemiBold';
$Rubik-medium-500: 'Rubik-Medium';
$Rubik-light-300: 'Rubik-Light';
$Rubik-bold-700: 'Rubik-Bold';



@font-face {
    font-family: $Rubik-regular;
    src: url('./assets/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: $Rubik-extra-bold-800;
    src: url('./assets/fonts/Rubik/static/Rubik-ExtraBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: $Rubik-medium-500;
    src: url('./assets/fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: $Rubik-semi-bold-600;
    src: url('./assets/fonts/Rubik/static/Rubik-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: $Rubik-light-300;
    src: url('./assets/fonts/Rubik/static/Rubik-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: $Rubik-bold-700;
    src: url('./assets/fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
    font-style: normal;
}


//colors
$body-color: #E0F4F5;
$header-background: #fff;
$white: #FFFFFF;
$dark-color: #0C3249;
$opacity-black: #0C32490A;
$red: #EA383899;
$main-color: #378381;
$black: #000000;
$opacity-dark-blue: #0C32494D;
$secondary-color: #2CC5A699;
$rubik-font: 'Rubik', sans-serif;
$gray: #00000029;
$success: #80DCC9;
$fail: #F28787;
$input-background-color: #F4F6F7;
$border-color: #0C32497A;
$browner-red: #BE7F6B;
$darker-green: #216361;
$light-gray: #0C324929;

@mixin main-content {
    border: 3px solid $dark-color;
    background-color: $white;
    width: 68.75vw;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}