
$body-color: #E0F4F5;
$white: #FFFFFF;
$button-dark-color: #0C3249;
$color3: #0C32490A;
$red: #EA383899;
$button-color: #378381;
$black: #000000;
$color7: #00000029;
$color8: #0C32494D;
$color9: #2CC5A699;



