@import "../../Variables.scss";

.answer-container {
    margin-right: 3vw;
    margin-bottom: 2vh;

    .answer-input {
        border: none;
        border-bottom: 1px solid $black;
        width: 32.23vw;
        height: 4.07vh;
        font-size: 0.9rem;

        &:hover {
            background-color: $opacity-black;
        }
    }

    .answer-input-option {
        display: flex;
        align-items: center;
        gap: 2vw;
    }

    img {
        cursor: pointer;
    }


    .image-photo {
        width: 24px;
    }

    .bin-answer-photo {
        width: 22px;
        height: 24px;

        &:not(.disabled) {
            opacity: 0.8;
        }
    }


    .answer-option-div {
        display: flex;
        gap: 2vw;
        margin-bottom: -20px;
    }

    .mobile-answer-container {
        display: flex;
        margin-right: -2.3vw;
    }

    .mobile-answer-div {
        display: flex;
        border: 1px solid $opacity-black;
        border-radius: 5px;
        background-color: $input-background-color;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mobile-answer-content {
            display: flex;
            height: 5vh;
        }
    }

    .mobile-answer-input {
        border: none;
        outline: none;
        width: 57vw;
        background-color: $input-background-color;
        margin-right: 2vw;
        font-size: 1.6rem;
    }

    .mobile-image-photo {
        width: 30px;
        height: 25px;
        margin-left: 0.8vw;
        margin-top: 1vh;
    }

    .mobile-bin-answer-photo-opacity {
        width: 20px;
        margin-right: 5vw;
        opacity: 0.3;
    }

    .mobile-bin-answer-photo {
        width: 20px;
        margin-right: 5vw;
        opacity: 0.9;
    }
}

@media only screen and (max-width: 600px) {
    .MuiButtonBase-root {
        .MuiSvgIcon-root {
            font-size: 2.2rem;
        }
    }


}