@import "../../Variables.scss";

.answer-container {
    margin-right: 3vw;
    margin-bottom: 2vh;

    .answer-input {
        border: none;
        border-bottom: 1px solid $black;
        width: 32.23vw;
        height: 4.07vh;

        &:hover {
            background-color: $opacity-black;
        }
    }

    .answer-input-option {
        display: flex;
        align-items: center;
    }

    img {
        cursor: pointer;
    }


    .image-photo {
        width: 22px;
        margin-left: 1.3vw;
        margin-right: 2vw;
    }

    .bin-answer-photo-opacity {
        width: 20px;
        opacity: 0.125;
    }

    .bin-answer-photo {
        width: 20px;
        opacity: 0.8;
    }


    .answer-option-div {
        display: inline-block;
        margin-bottom: -20px;
    }

    .mobile-answer-container {
        display: flex;
        margin-right: -2.3vw;
    }

    .mobile-answer-div {
        display: flex;
        border: 1px solid $opacity-black;
        width: fit-content;
        border-radius: 5px;
        height: 5vh;
        background-color: $input-background-color;
    }

    .mobile-answer-input {
        border: none;
        outline: none;
        width: 60vw;
        background-color: $input-background-color;
    }

    .mobile-image-photo {
        width: 30px;
        height: 25px;
        margin-left: 0.8vw;
        margin-top: 1vh;
    }

    .mobile-bin-answer-photo-opacity {
        width: 20px;
        margin-right: 5vw;
        opacity: 0.2;
    }

    .mobile-bin-answer-photo {
        width: 20px;
        margin-right: 5vw;
        opacity: 0.9;
    }
}