@import '../../Variables.scss';

.register-login-titles {


    .login-register-h1 {
        font-size: 2.487rem;
        margin-bottom: 5vh;
        font-family: $Rubik-extra-bold-800;
    }

    .login-register-h2 {
        font-size: 1.225rem;
        font-family: $Rubik-medium-500;
        font-weight: 500;
    }
}



@media screen and (max-width: 600px) {
    .register-login-titles {

        .login-register-h1,
        .login-register-h2 {
            text-align: center;
            margin: 0 auto;
        }

        .login-register-h1 {
            font-size: 3.8rem;
            font-family: $Rubik-semi-bold-600;
            letter-spacing: 0.2rem;
            margin-bottom: 1vh;
        }

        .login-register-h2 {
            font-size: 6.2rem;
            line-height: 8.5vh;
            height: 8.5vh;
            font-family: $Rubik-extra-bold-800;

        }

    }
}

@media screen and (max-width: 400px) {
    .register-login-titles {

        .login-register-h1 {
            margin-top: 0;
            margin-bottom: 1vh;
    font-size: 4.6rem;
        }

        .login-register-h2 {
            margin-bottom: 0;
        }

    }

}