@import '../../Variables.scss';

.play-quiz-page {
    @include main-content();
    height: 73.14vh;
    margin-top: 7vh;

    .play-progress-bar {
        width: 100%;
        height: 5px;
        background-color: $white;
        border-radius: 9px 9px 0 0;

        span {
            background-color: $main-color;
            border-radius: 9px;
        }
    }

    .play-quiz-container {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-self: center;

    }
}


@media screen and (max-width: 600px) {
    .play-quiz-page {
        height: 99vh;
        width:99vw;
        margin-top: 0;
        border: none;

        .play-progress-bar{
            height:6px;
            border-radius: 0;

            span{
                border-radius: 0;
            }
        }

        .play-quiz-container {
            width: 100%;
            flex-direction: column-reverse;


            .leaves-bottom-left {
                position: fixed;
                left: -40px;
                bottom: -40px;
                z-index: 2;
            }
        }
    }

}