@import '../../Variables.scss';

.question-container-div {
    margin: 2vh auto 2vh auto;
    border: 3px solid $dark-color;
    width: 70.3vw;
    border-radius: 10px;
    position: relative;
    background-color: $white;
    cursor: auto;

    .question-content {
        margin: 2.77vh 0;
        border: 1px solid $white;
        color: $dark-color;
        margin-left: 1.04vw;
        width: 13vw;
        font-size: 1.2rem;

        &:hover {
            border: 1px solid #cdd0d2; // unique color
            border-radius: 5px;
        }
    }

    .question-margin {
        margin-top: 1vh;
    }

    .upload-image-input {
        display: none;
    }

    .question-details {
        display: flex;
        align-items: center;
        margin-right: 3.5vw;
    }

    .drag-and-drop {
        width: 2vw;
        position: absolute;
        right: 34vw;
        top: 0.3vh;
        opacity: 0.4;
        cursor: grab;
    }

    .question-main-content {
        .question-title {
            margin-top: 1vh;
            font-weight: 900;
            display: flex;
            font-size: 16px;
            justify-content: space-between;
            margin-right: 3vw;
        }
    }

    .pointer-img {
        cursor: pointer;
    }

    .mobile-title-div {
        border: 1px solid $opacity-black;
        width: fit-content;
        border-radius: 5px;
        margin-bottom: 3vh;
        margin-top: 1vh;
        padding: 2vw;
        width: 86vw;
        margin-right: 3vw;
        background-color: $input-background-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        .mobile-title-content {
            display: flex;
        }

        .uploaded-image-div {
            width: fit-content;

        }


    }

    .mobile-question-content {
        background-color: $input-background-color;
        border: none;
        outline: none;
        width: 74vw;
        font-size: 1.8rem;
    }

    .image-photo-details {
        width: 26px;
        display: block;
    }

    .plus-photo {
        width: 13px;
        display: inline-block;
    }

    .answer-option {
        width: fit-content;
        cursor: pointer;
        display: flex;
        gap: 1vw;
        margin-right: 3.5vw;
    }

    .question-option {
        text-align: left;
        margin: 5vh 0 2vh 2vw;
    }

    .add-answer {
        display: inline-block;
        border-bottom: 1px solid #8eafc3;
        color: $dark-color;
        font-size: 1rem;
    }

    .plus-photo {
        width: 1.2rem;
    }

    .line {
        height: 1px;
        width: 100%;
        background-color: #0c32491f;
        margin-top: -1.2vh;
    }

    .copy {
        margin-left: 1.5vw;
    }

    .delete {
        opacity: 0.6;
    }

    .monkey-computer {
        position: fixed;
        right: 4vw;
        bottom: 4vh;
        width: 7vw;
    }

}


@media only screen and (max-width:600px) {

    .question-container-div {
        border: none;
        width: 100vw;

        .question-main-content {
            .question-title {
                align-items: center;
            }
        }

        .add-answer {
            font-size: 1.7rem;
        }

        .image-photo {
            width: 25px;
            margin-left: 2vw;
            margin-top: 1vh;
        }

        .mobile-question-option {
            margin-left: 5vw;
        }

        .mobile-copy {
            margin-left: 3vw;
        }

        .mobile-bin {
            margin-left: 3vw;
            opacity: 0.6;
        }

        .plus-photo {
            width: 2rem;
        }

        .border-question {
            width: 80vw;
            height: 0.1vh;
            margin: 3vh auto;
            background-color: $dark-color;
            border-radius: 3px;
            opacity: 0.7;
        }

        label {
            font-size: 16px;
            margin-right: 3vw;
        }


        .answer-option {
            margin-right: 2.7vw;
        }
    }


}