@import '../../Variables.scss';

.homePageContainer {
    margin-top: 5vh;
    height: 73.14vh;
    width: 68.75vw;
    background-color: $white;
    border: 3px solid $dark-color;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin: 5vh auto;
}

@media screen and (max-width: 600px) {
    .homePageContainer {
        margin-top: 0;
        width: 95vw;
        height: 97vh;
        margin: 5px 5px;
    }
}