@import "../../Variables.scss";

.quiz-name-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 68.75vw;
    border-radius: 10px;
    border: 4px solid $dark-color;
    margin: 10vh auto 3vh auto;
    padding: 0.7vw;
    background-color: $white;

    .details-input {
        display: block;
        margin: 2.77vh 0;
        border: 1px solid $white;
        color: $dark-color;
        margin-right: 1.04vw;

        &:hover {
            border: 1px solid #cdd0d2; //unique color
            border-radius: 5px;
        }
    }

    .upload-image-input {
        display: none;
    }

    .upload-image {
        width: 20vw;
        height: 17.8vh;
        background-color: $input-background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.5vw;
    }

    .quiz-details-img {
        width: 20vw;
        height: 17.8vh;
        margin-right: 1.5vw;
        margin-top: 0;

        &>img {
            width: 100%;
            height: 100%;
        }
    }

    .name-input {
        text-align: right;
        letter-spacing: 0;
        width: 23.3vw;
        height: 4.62vh;
        font-size: 42px;
        padding: 2px;
    }

    .description-input {
        width: 43vw;
        height: 24px;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .phone-input {
        height: 4.2vh;
        display: block;
        width: 80vw;
        margin: 1vh;
        background-color: $input-background-color;
        border: 1px solid $opacity-black;
        border-radius: 4px;
        outline: 1px solid rgba($dark-color, 0.15);
    }

}


@media only screen and (max-width: 600px) {
    .quiz-name-container {
        color: $dark-color;
        flex-direction: column-reverse;
        border: none;
        width: 100vw;
        height: 80vh;
        margin: 3vh auto;

        .MuiPaper-root {
            margin-top: 2vh;
            width: 80vw;

            .MuiAlert-message {
                font-size: 18px;
            }
        }


        .input-div {
            margin-top: 2vh;
        }

        .upload-image {
            margin-top: 5vh;
            flex-direction: column;
            gap: 0.9vh;
            width: 80vw;
            color: #738793; //unique color
            margin-right: 0px;
            font-size: 14px;
        }

        .next-page-div {
            display: flex;
            flex-grow: 1;
            align-items: flex-end;
        }

        .continue-edit-question {
            background-color: $main-color;
            margin-top: 15vh;
            width: 80vw;
            border-radius: 4px;
            margin-right: 1vw;
            color: $white;
            height: 5vh;
            font-weight: 600;
            font-size: 2.4rem;
            border: none;
        }

        .add-photo-continue {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        label {
            margin-right: 2vw;
            font-size: 2rem;
        }

        .quiz-details-img {
            margin-top: 5vh;
            width: 70vw;
        }
    }

}