@import '../../Variables.scss';

.full-size-container {
    @include main-content;
    margin-top: 6vh;
    height: fit-content;
    width: 63vw;

    .register-login-container {
        position: relative;
        height: 68vh;
        display: flex;
        flex-direction: row;
        padding-top: 5vh;

        .right-leaf-img {
            display: none;
        }

        .left-side {
            flex: 3;
            display: flex;
            justify-content: right;

            .register-login-img {
                width: 18vw;
            }
        }

        .right-side {
            flex: 5;
            padding-right: 5vw;

            .register-login-titles {
                margin-bottom: 5vh;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .full-size-container {
        border-width: 4px;
        margin-top: 2.5vh;
        overflow: hidden;
        width: 90vw;
        height: 94vh;

        .register-login-container {
            position: relative;
            flex-direction: column;
            box-sizing: border-box;
            z-index: 3;
            padding-top: 14vh;

            .right-leaf-img {
                display: block;
                position: absolute;
                z-index: 2;
                top: -11vh;
                right: -14vw;
                width: 30vw;
            }

            .right-side {
                padding-right: 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .register-login-titles {
                    margin-bottom: 2.6vh;
                }
            }

            .left-side {
                flex: 1;

                .register-login-img {
                    position: absolute;
                    z-index: 2;
                    bottom: -10vh;
                    left: -13vw;
                    width: 50vw;
                    transform: rotate(10deg);
                }
            }
        }
    }
}

@media screen and (max-width: 601px) {
    .full-size-container {

        .right-leaf-img {
            position: absolute;
            z-index: 2;
            top: -15vh;
            width: 48vw;
            right: -17vw;
        }

        .register-login-img {
            position: absolute;
            z-index: 2;
            width: 58vw;
            left: -10vw;
            bottom: -12vh;
            transform: rotate(10deg);
        }

        .register-login-container {
            padding-top: 12.5vh;
        }
    }
}

@media screen and (max-width: 400px) {
    .full-size-container {

        .right-leaf-img {
            position: absolute;
            z-index: 2;
            top: -7vh;
            width: 56vw;
            right: -19vw;
        }

        .register-login-img {
            position: absolute;
            z-index: 2;
            width: 90vw;
            left: -18vw;
            bottom: -9vh;
            transform: rotate(10deg);
        }

        .register-login-container {
            padding-top: 12.5vh;
        }
    }
}