@import '../../Variables.scss';

.quiz-option-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 7vh;
    cursor: auto;
    position: fixed;
    background-color: $body-color;
    right: 16vw;
    top: 9.5vh;
    padding: 0 1vw;
}

.create-quiz-main-content {
    margin-top: 8vh;
}

.show-quiz {
    background-color: $white;
    border: 1px solid $opacity-dark-blue;
    color: $main-color;
    width: 7.5vw;
    text-align: center;
    font-size: 9px;
    font-weight: 510;
    border-radius: 6px;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
    font-size: 0.8rem;
    cursor: pointer;
}

.item-container {
    cursor: auto;
}

.save-quiz {
    background-color: $main-color;
    text-align: center;
    border-radius: 8px;
    width: 8vw;
    height: 4vh;
    color: $white;
    margin-right: 1vw;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
}

.share-quiz-photo {
    width: 0.8vw;
}


.add-answer-photo {
    width: 4vw;
    margin: 0 50vw;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {

    .create-quiz-div {
        height: 100vh;
        position: relative;
    }

    .create-quiz-main-content {
        display: flex;
        margin: 0;
    }


    .create-quiz-main-content-new {
        margin-right: -100vw;
        transition: margin 0.5s ease;
    }

    .questions-container-div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .finish-edit {
        display: block;
        border-radius: 5px;
        border: none;
        width: 80vw;
        margin: 0 auto;
        background-color: $main-color;
        color: $white;
        height: 4.5vh;
    }

    .add-question-phone {
        background-color: $input-background-color;
        border: none;
        border-radius: 5px;
        width: 80vw;
        height: 6vh;
        display: block;
        margin: 2vh auto;
        color: $dark-color;

    }

    .finish-edit-quiz {
        position: sticky;
        right: 8vw;
        bottom: 5vh;
    }


    .add-question-btn {
        width: 12px;
        margin-left: 6vw;
    }

    button {
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
    }
}