@import "../../Variables.scss";

.loading-div {
  @include main-content();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 5vh;
  border-radius: 10px;
  background-color: $white;

  .surfing-monkey {
    width: 12rem;
    animation: rotate 2s linear infinite;
  }

  .progress-bar-div {
    width: 100%;
    margin-top: 5vh;
    margin-right: 55vw;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg)
  }

  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 600px) {
  .loading-div {
    border: none;

    .progress-bar-div {
      margin-right: 43vw;
    }
  }


}