@import '../../Variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;
  background-color: $header-background;
  position: relative;
  z-index: 1000;
  border-bottom: 4px solid $dark-color;
  top: 0;
  position: sticky;
  width: 93vw;

  .header-logo {
    display: flex;
    align-items: center;

    img {
      height: 4vh;
      margin-right: 1vw;
    }

    .header-title {
      margin: 0;
      font-weight: bold;
      color: $dark-color;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;

    .header-divider {
      margin: 0 1vw;
      color: $dark-color;
    }

    .header-link {
      color: $dark-color;
      font-size: 1rem;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #5d635d;
      }
    }

    .MuiButton-root.create-quiz-btn {
      background-color: $main-color;
      font-weight: bold;
      padding: 0.8vh 2.5vw;
    }
  }
}