@import "../../Variables.scss";

.saved-question-container {
    @include main-content();
    padding: 0.8vw;
    cursor: auto;
    color: $dark-color;
    margin-bottom: 3vh;
    position: relative;

    &:hover {
        .drag-and-drop {
            opacity: 0.7;
        }
    }

    .saved-question-name {
        margin-right: 2.8vw;
        font-size: 24px;
        font-weight: 200;
    }

    .saved-question-div {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    img:not(.drag-and-drop) {
        width: 5vw;
        margin-right: 2vw;
    }

    .drag-and-drop {
        position: absolute;
        top: 1vh;
        right: 34vw;
        opacity: 0;
        transition: opacity 0.3s ease;
        width: 30px;
        cursor: grab;
    }

    .saved-question-answers {
        display: flex;
        margin-right: 2vw;
    }
}