@import '../../Variables.scss';

.login-container {
    @include main-content;
    position: relative;
    height: 73.15vh;
    display: flex;
    flex-direction: row;
    padding-top: 7vh;

    .left-side {
        background-color: rgba(255, 0, 0, 0.283);
        flex: 2;
    }

    .right-side {
        flex: 3;
        padding-right: 6.04vw;

        h1 {
            font-size: 2.487rem;
            margin-bottom: 5vh;
            font-family: $Rubik-extra-bold-800;
        }

        h2 {
            font-size: 1.225rem;
            font-family: $Rubik-medium-500;

        }
    }

    form {
        label {
            color: $dark-color;
            font-size: 0.95rem;
        }

        input {
            background-color: $input-background-color;
            border: 0.2px solid $border-color;
            width: 21.2vw;
            height: 3.8vh;
            margin-top: 0.6vh;
            margin-bottom: 1.4vh;
        }

        Button {
            width: 22.2vw;
            height: 7vh;
            font-weight: bold;
            font-family: $Rubik-semi-bold-600;
            font-size: 1.2rem;
        }
    }
}