@import "../../Variables.scss";

.dialog-box {
    padding: 3vh 2vw;
    height: 27vh;
    width: 25vw;
    overflow: hidden;

    .dialog-title {
        font-family: $Rubik-semi-bold-600;
        color: $dark-color;
        font-size: 1.5rem;
    }

    #alert-dialog-description {
        color: $dark-color;
        font-family: $Rubik-light-300;
        font-size: 1.125rem;
    }

    .dialog-actions {
        margin-top: 8vh;

        .cancel-btn {
            text-decoration: underline;
            font-weight: bold;
            color: $main-color;

        }

        .confirm-btn {
            border-radius: 22px;
            width: 8vw;
            height: 5vh;
            font-weight: bold;
            background-color: $main-color;
        }
    }
}


//mobile devices
@media screen and (max-width: 600px) {



    .dialog-box {
        padding: 6vh 3vw 3vh 3vw;
        width: 70vw;

        .dialog-title.MuiDialogTitle-root {
            font-family: $Rubik-extra-bold-800;
            font-weight: bold;
            text-align: center;
            padding: 0;
            margin-bottom: 1vh;

        }

        #alert-dialog-description {
            margin: 2vh 0;
            text-align: center;
            padding: 0;
            font-size: 1.8rem;
            font-family: $Rubik-light-300;
            color: $dark-color;
        }

        .dialog-actions {
            display: flex;
            justify-content: center;
            margin-top: 0;

            .cancel-btn {
                width: 5vw;
            }

            .confirm-btn {
                padding: 0.5vh 8vw;
                height: unset;
                width: unset;
                font-size: 1.7rem;
                letter-spacing: 0;
            }

            .cancel-btn {
                font-size: 1.7rem;
                letter-spacing: 0;
            }
        }
    }
}