@import '../../Variables.scss';

.my-quizzes-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.my-quizzes-container {
    @include main-content();
}

.my-quizzes-title {
    margin-right: 3vh;
    font-family: $Rubik-medium-500;
    color: $dark-color;
    font-weight: normal;
    margin-bottom: 0;
}

.cards-holder {
    height: 65vh;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .my-quizzes-container {
        border: none;
    }

}