@import '../../Variables.scss';

.my-quizzes-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 5vh 0;
    flex-grow: 1;
    box-sizing: border-box;
}

.my-quizzes-container {
    @include main-content();
    display: flex;
    flex-direction: column;
    height: 100%;
}

.my-quizzes-title {
    margin-right: 3vh;
    font-family: $Rubik-medium-500;
    color: $dark-color;
    font-weight: normal;
    font-size: 2rem;
}

.cards-holder {
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {


    .my-quizzes-div {
        height: fit-content;
        margin: 0;
    }

    .my-quizzes-container {
        width: 80vw;
        border: none;
    }


}