.main-area {
  height: 100vh;

  .left-leaf {
    position: absolute;
    top: 4vh;
    left: -44px;
    width: 130px;

  }

  .right-leaf {
    position: absolute;
    top: 4vh;
    right: -44px;
    width: 130px;
  }

  .main-content {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
  }
}