.main-area {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .left-leaf {
    position: absolute;
    top: 4vh;
    left: -44px;
    width: 130px;

  }

  .right-leaf {
    position: absolute;
    top: 4vh;
    right: -44px;
    width: 130px;
  }

  .main-content {
    position: relative;
    top: 0;
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}